@media (max-width: 768px) {
    .electropuntos-nav {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .lado-izquierdo,
    .lado-derecho {
        gap: 10px;
    }

    .navbar {
        form {
            input {
                font-size: 14px;
                padding: 6px;
            }

            button {
                font-size: 14px;
                padding: 6px 10px;
            }
        }

        .iniciar-sesion a {
            font-size: 12px;
        }
    }
}

@media (max-width: 480px) {
    .electropuntos-nav {
        gap: 10px;
    }

    .lado-izquierdo,
    .lado-derecho {
        gap: 5px;
    }

    .navbar {
        .logo img {
            max-width: 120px;
        }

        form {
            input {
                font-size: 12px;
                padding: 5px;
            }

            button {
                font-size: 12px;
                padding: 5px 8px;
            }
        }

        .iniciar-sesion a {
            font-size: 10px;
        }
    }

    .busqueda-logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
    }

    .busqueda-logo > div {
        flex: 1 1 auto;
    }
}

@media (max-width: 465px) {
    .busqueda-logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }

    .busqueda-logo > div {
        flex: 0 1 auto;
    }

    .flex-grow-1 form {
        width: 100%;
        max-width: 300px;
        margin: 0;
    }

    .navbar {
        flex-direction: column;
        align-items: center;

        form {
            width: 100%;
            max-width: 280px;
        }

        .iniciar-sesion {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .iniciar-sesion img {
            margin-bottom: 5px;
        }

        .iniciar-sesion a {
            text-align: center;
            font-size: 10px;
        }
    }
}


@media (max-width: 564px) {
    .barra-busqueda {
        display: none;
    }
    .iniciar-sesion a span {
        display: none;
    }
}