$color-primary: #f7280e;
$color-secondary: #fd250e;
$color-light: #f0f0f0;
$color-dark: #121212;
$color-white: #fff;
$color-grey: #f9f9f9;

$focus-ring-width: 0;
$focus-ring-opacity: 0;
$focus-ring-color: transparent;
